body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$mycolor : rgb(252, 247, 94);
header{
    padding: 3%;
    background-color: $mycolor;
    :first-child{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 5%;
        h2{
            padding: 0;
            margin: 0;
            color: white;
            font-size: 30px;
            font-weight: bold;
        }
        nav{
            text-align: right;
            
            a{
                display: inline-flex;
                padding: 0 3%;
                text-decoration: none;
                color: white;
                font-size: 23px;
                font-weight: bold;
                span{
                    color: black;
                }
            }
        } 
    }
    div:nth-child(2){
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(500px, 1fr));
        column-gap: 3%;
        img{
            height: 100vh;
            max-height: 100vh;
            width: 90%;
        }
        p{
            font-size: 50px;
            font-weight: bold;
            text-align: right;
            height: 50%;
            margin: auto 0;
        }
    }
}
.slide{
    .carousel-item{
        img{
            position: relative;
        }
        span{
            position: absolute;
            font-size: 50px;
            font-weight: bold;
            color: black;
            width: 40%;
            top: 15%;
            left: 10%;
            @media screen and (max-width: 700px) {
                font-size: 20px;
            }
        }
        p{
            position: absolute;
            font-size: 30px;
            bottom: 25%;
            left: 10%;
            @media screen and (max-width: 700px) {
                font-size: 20px;
                bottom: 15%;
            }

        }
    }
}
main{
    div{
        background-color: $mycolor;
        padding: 5%;
        h2{
            text-align: center;
            font-weight: bold;
            font-size: 72px;
        }
        div:nth-child(2){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
            column-gap: 9%;
            img{
                width: 100%;
                height: 270px;
            }
        }
        div:nth-child(3){
            text-align: center;
            button{
                background-color: transparent;
                border: 2px solid black;
                padding: 12px 35px;
                outline: 0;
                font-size: 18px;
                border-radius: 8px;
                color: white;
                cursor: pointer;
                &:hover{
                    background-color: black;
                }
            }
        }
        p:nth-child(4){
            font-size: 100px;
            font-weight: bold;
            color: white;
            margin: 10% 0;
        }
        
    }
}
footer{
    div:first-child{
        background-color: black;
        padding: 10%;
        p{
            font-size: 130px;
            text-align: center;
            font-weight: bold;
            color: $mycolor;
        }
        div{
            text-align: center;
            padding: 0;
            button{
                background-color: transparent;
                border: 2px solid $mycolor;
                padding: 12px 35px;
                font-weight: bold;
                outline: 0;
                font-size: 18px;
                border-radius: 8px;
                color: white;
                cursor: pointer;
                &:hover{
                    background-color: $mycolor;
                }
            }
        }
    }
    div:nth-child(2){
        background-color: black;
        padding: 20% 0;
        text-align: center;
        a{
            text-decoration: underline;
            font-size: 60px;
            color: white;
            font-weight: bold;
            margin-bottom: 4%;
            
        }
        p{
            font-size: 25px;
            color: white;
            font-weight: bold;
            margin-top: 5%;
        }
    }

}